#bg{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/039/354/324/small_2x/ai-generated-a-dark-blue-wall-with-a-black-background-photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: inherit;  
    width: 100%;
    
    ;  
}